:root {
    --blue: #1e90ff
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.btnscores {
    display: flex;
    background-color: white;
    border-style: none;
    color:blue;
    font-size: 20px;
    padding: 5px;
    margin: 10px 0px 0px 10px;
}

.timer {
    padding: 10px 10px 0px 0px;
}

section #start-screen {
    align-items: center;
}

h2, #question-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 200px;
}

#start-screen p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    
}

section button {
    display: flex;
    justify-content: center;
    background-color: var(--blue);
    color: white;
    margin: 20px auto 0px auto;
    padding: 10px 30px 10px 30px;
}

/* To target my wrapper section to be visible or display none */
.wrapper {
    display: none;
    justify-content: center;
    
}

footer {
    display: none;
    justify-content: center;
    padding: 50px 0px 0px 0px;
    font-size: 20px;

}

section h4 {
    display: none;
    justify-content: center;
    margin-top: 200px;
    font-size: 35px;
}

footer h5 {
    border-top: 1px solid;
    width: 50%;
}

#score {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

label {
    display: none;
    justify-content: center;
    font-size: 30px;
    padding-top: 20px;;
}
input {
    display: none;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

#enter {
    display: none;
}

.allScoresTitle {
    display: none;
    justify-content: center;
    font-size: 50px;
}

#goBack, #clearHighScores {
    display: none;
    
}
