:root {
    --blue: #1e90ff
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.scores {
    color: var(--blue);
    padding: 10px 0px 0px 10px;
}

.timer {
    padding: 10px 10px 0px 0px;
}

div #start-screen {
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 200px;
}

#start-screen p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    
}

button {
    display: flex;
    justify-content: center;
    background-color: var(--blue);
    color: white;
    margin: 20px auto 0px auto;
    padding: 10px 20px 10px 20px;
}
